@charset "UTF-8";

body {
	background:#ffffff;
	color: #666666;
	font: 12px/18px 'OpenSans',Arial,sans-serif;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden; 
	position: relative;
	visibility: visible;
	white-space: normal;
}
h1 {
	font-family: "Lato", "OpenSans", sans-serif;
	font-size: 30px;
	margin: 0;
}
div { 
	display: block;
}
a, img {
	outline: none;
	border:none;
	color: #000;
}
ol, ul {
	list-style: none;
	margin: 0;
}
ul li {
	margin: 0;
	padding: 0;
}
i {
    font-size: 15px;
    line-height: 18px;
}
.overlay_back {
	display: none;
}
	.overlay_back img {
		left: 50%;
		position: fixed;
		top: 50%;
  		transform: translate(-50%, -50%);
		z-index: 1000;	
	}
.background {
	background-color: black;
	display: none;
	height: 100%;
	left: 0px;
	opacity: 0.5;
	overflow: auto;
	position: fixed;
    top: 0px;
    transform: translate(0%, 0%);
    transition: opacity 1s ease-in-out 0s;
	width: 100%;
	z-index: 2000;
}
.popup {
	background-color: #ffffff;
	display: none;
	left: 50%;
	min-width: 320px;
	position: fixed;
	top: 50%;
  	transform: translate(-50%, -50%);
	z-index: 3000;
	width: auto;
}
	.popup_filters {
		width: 450px;
	}
	.popup_full {
		background-color: #ffffff;	
		top: 0;
		left: 0;
		margin-left: 0;
		margin-top: 0;
		width: 100%;
		height: 100%;
		min-width: 100%;
		position: fixed;
		z-index: 3000;
	}
.background_popup_error {
	background-color: black;
	display: none;
	height: 100%;
	left: 0px;
	opacity: 0.5;
	overflow: auto;
	position: fixed;
	top: 0px;
  	transform: translate(0%, 0%);
    transition: opacity 1s ease-in-out 0s;
	width: 100%;
	z-index: 3500;
}
.error_message {
	background-color: #ffffff;
	display: none;
	color: #000000;
	height:auto;
	left: 50%;
	max-width: 240px;
	min-width: 240px;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 4000;
  	
}
	.error_header h1 {
		background-color: #0896ff;
		border-bottom: 1px solid #0896ff;
		border-image: none;
		border-style: none none solid;
		border-width: 0 0 1px;
		color: #ffffff;
		cursor: move;
		display: block;
		font-size: 14px !important;
		font-family: 'Lato',sans-serif;
		font-weight: normal;
		height: 32px;
		line-height: 32px;
		margin: 0;
		padding: 0 0 0 6px;			
	}
	.error_body h1 {
		color: #000000;
		font-size: 12px !important;
		font-family: 'Lato',sans-serif;
		font-weight: normal;
		padding: 12px 6px !important;
		text-align: center;
		white-space: normal;
	}
	.error_button {
		overflow: auto;
		padding: 6px 12px;
	}
		.float_right {
			float: right;
		} 
		.error_button button {
			cursor: pointer;
		}
		.error_button button:hover {
			border-color: #0099cc;
		}
		.error_button button:active {
			color: #0099cc;
		}
		.error_underline {
			text-decoration: underline;
		}
.overlay_back_on, .error_message_on, .background_on, .popup_on, .background_popup_error_on {
	display: block;
}

@media screen and (max-width: 1024px) {
	.popup {
	    top: 0;
	    transform: translate(-50%, 0%);
	    width: 100%
	}
	.error_message {
	    top: 20%;
	    transform: translate(-50%, -20%);
	    width: 100%
	}
}