@CHARSET "utf-8";

/* padding-top padding-right padding-bottom padding-left */

.scrapper {
	height: 100%;
	margin: 10px 0 0 0;
	overflow: hidden;
}
	.scrapper_upper {
		display: table;
    	width: 100%;
	}
		.scrapper_upper_row
		{
		    display:table-row;
		}
		.scrapper_upper_row > div
		{
		    display: table-cell;
		}
	.scrapper_bottom {
		display: block;
	}
	.scrapper_left {
		/* display: inline-block; */
		float: left;
		width: 50%;
		overflow: hidden;
	}
		.scrapper_info {
			border: 1px solid #555555;
			float: left;
			font-size: 15px;
			height: auto;
			margin: 10px;
			padding: 2px;
		}
			.scrapper_field {
				color: #111111;
				padding: 5px 0;
			}
				.scrapper_settings {
					font-size: 22px;
				    font-weight: bold;
				}
				.scrapper_row_left {
					display: inline-block;
					width: 180px;
				}
				.scrapper_row_right_dropdown {
				    box-shadow: 0 0.1rem 0 rgba(255, 255, 255, 0.5), 0 0.1rem 0 rgba(0, 0, 0, 0.07) inset;
				    display: inline-block;
				    outline: 0 none;
				}
					.scrapper_row_right_dropdown select {
					    height: 1.5rem;
					    line-height: 1;
					}
				.scrapper_row_right {
				 	-moz-border-bottom-colors: none;
				    -moz-border-left-colors: none;
				    -moz-border-right-colors: none;
				    -moz-border-top-colors: none;
				    border-color: #949494 #a6a6a6 #a6a6a6;
				    border-image: none;
				    border-radius: 0.3rem;
				    border-style: solid;
				    border-width: 0.1rem;
				    box-shadow: 0 0.1rem 0 rgba(255, 255, 255, 0.5), 0 0.1rem 0 rgba(0, 0, 0, 0.07) inset;
				    display: inline-block;
				    outline: 0 none;
				}
					.scrapper_row_right input {
					   	background-color: transparent;
					    border: 0 none;
					    box-shadow: none;
					    box-sizing: border-box;
					    height: 1.5rem;
					    line-height: 1;
					    margin: 0.2rem 0 0;
					    padding: 0 1.1rem;
					}
			.scrapper_buttons button {
				background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f7f8fa, #e7e9ec) repeat scroll 0 0;
			    border-color: #adb1b8 #a2a6ac #8d9096;
			    border-radius: 0.2rem;
			    border-style: solid;
			    border-width: 0.1rem;
			    box-shadow: 0 0.1rem 0 rgba(255, 255, 255, 0.6) inset;
			    color: #111111;
			    cursor: pointer;
			    font-family: Arial,sans-serif;
			    font-size: 1.0rem;
				line-height: 1.35;
			    margin: 10px 5px;
			    outline: 0 none;
			    padding: 2px;
			    text-align: center;
			    text-decoration: none;
			    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
			    white-space: normal;
			    width: 5.0em;
			}
				.scrapper_buttons button:hover {
			    	border-color: #0896ff;
				}
				.scrapper_buttons button:active {
					background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #0896ff, #0896ff) repeat scroll 0 0;
			    	color: #ffffff;
				}
	.scrapper_center {
		display: inline-block;
		padding-top: 10px;
		width: 33%;
		overflow: hidden;
	}
	.scrapper_right {
		float: right; 
		width: 50%;
		overflow: hidden;
	}
		.scrapper_listing {
			padding: 0 5px;
		}
			#scrapper-list-nav {
			    background: #0896ff none repeat scroll 0 0;
			    color: #ffffff;
			    text-shadow: none;
			}
		.scrapper_right ul {
			list-style: outside none none;
			padding-left: 0px;
		}
		.scrapper_list li a {
		    display: block;
		    color: #003580;
		    padding: 5px 0px;
		    text-decoration: none;
		    width: 100%;
		}
			.scrapper_list li a:hover {
			    background: #d0d0d0 none repeat scroll 0 0;
			    border: 0;
			    color: #003580;
			    display: block;
			    font-weight: bold;
			    padding: 5px 0;
			    width:100%;
			}
			.scrapper_list li a:active {
			    background: #0896ff none repeat scroll 0 0;
			    color: #ffffff;
			}
		.scrapper_list_odd {
			background: #ffffff none repeat scroll 0 0;
		}
		.scrapper_list_even {
			background: #f3f3f3 none repeat scroll 0 0;
		}
		.scrapper-list-label {
			color: #003580;
			font-size: 22px;
		    font-weight: bold;
			margin: 15px;
			text-align: center
		}
		.ln-letters {
			overflow: auto;
		    width: 100%;
		}
		.ln-letters a {
		    background: #0896ff none repeat scroll 0 0;
		    border-right: 1px solid #0896ff;
		    color: #ffffff;
		    display: table-cell;
		    position: relative;
		    text-align: center;
		    text-decoration: none;
		}
		
.scrapper_management {
	color: #111111;
	cursor: auto;
	margin: 10px 0 0;
}
	.scrapper_management_listing {
		float: left;
		margin-left: 8px;
		min-width: 210px;
		width: auto;
	}
		.scrapper_management_headers {
			font-size: 18px;
			font-weight: bold;
		}
		.scrapper_management_listing option {
			font-size: 15px;
			width: auto;
		}
		.scrapper_management_listing ul {
		    background: #d0d0d0 none repeat scroll 0 0;
		    border-top: 1px solid #ededed;
		    color: #003580;
		    display: block;
		    height: 700px;
		    list-style: outside none none;
		    margin-top: 13px;
		    margin-bottom: 0;
		    overflow: scroll;
		    padding-left: 0;
		    text-decoration: none;
		    width: auto;
		}
			.scrapper_management_listing ul li {
				border: 1px solid #555555;
				width:auto;
			}
	.scrapper_account_info {
		float: left;
	}
		.scrapper_accounts_available {
			float: left;
			margin-left: 2%;
			min-width: 210px;
		    width: auto;
		}
			.scrapper_account_list li a:hover {
			    background: #ededed none repeat scroll 0 0;
			    border: 0;
			    color: #003580;
			    display: block;
			    font-weight: bold;
			    margin-bottom: 5px;
			    width: auto;
			}

.scrapper_account-info li a {
	background: #ffffff none repeat scroll 0 0;
	border-top: 1px solid #ededed;
    display: block;
    color: #003580;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
	text-decoration: none;
    width: auto;
}
		.scrapper_accounts_selected {
			float: left;
			margin-left: 2%;
			min-width: 210px;
		    width: auto;
		}

/* Sortable items */
.sortable-list {
    background: #d0d0d0 none repeat scroll 0 0;
    border-top: 1px solid #ededed;
    color: #111111;
    display: block;
    height:700px;
	list-style: outside none none;
	margin-bottom: 0px;
	margin-top: 13px;
    overflow:scroll;
	padding-left: 0px;
    text-decoration: none;
}
.sortable-item {
	background-color: #ffffff;
	border: 1px solid #555555;
	cursor: move;
	display: block;
	font-weight: bold;
	margin-bottom: 2px;
	padding: 5px 5px;
}

/* Containment area */
#containment {
	background-color: #FFA;
	height: 230px;
}

/* Item placeholder (visual helper) */
.placeholder {
	background-color: #BFB;
	border: 1px dashed #666;
	height: 58px;
	margin-bottom: 5px;
}

.clearer {
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
}
.clear, .clearer {
    clear: both;
}
		
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.acctgrpwrapper {
	display: flex;
	overflow: auto;
	padding: 5px;
}
.acctwrapper {
	background-color: #d3d3d3;
	border: 1px solid #000000;
	flex: 1; /* additionally, equal width */
	float: left; 
	margin-top: 10px;
	margin-right: 5px;
	padding: 5px;
	width: 450px;
}
.middlewrapper {
	background-color: #d3d3d3;
	border: 1px solid #000000;
	display: none;
	flex: 1; /* additionally, equal width */
	float: left; 
	margin-top: 10px;
	margin-right: 5px;
	padding: 5px;
	width: 450px;
}

@media screen and (max-width: 1286px) {
	.ln-letters a {
		padding: 5px 3px;
	}
}
@media screen and (max-width: 1024px) {		
	.scrapper_left {
		display: block;
		float: none;
		width: 100%;
	}
	.scrapper_right {
		display: block;
		float: none;
		width: 100%;
	}
	.ln-letters a {
    	padding: 8px 15px;
	}
}