<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="projects/GeffHome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">Login Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'projects' %}">Projects</a>
            </li>

        </ul>

    </div>
</nav>
{% if next %}
<div class="alert alert-warning" role="alert">
    You can't access that page
</div>
{% endif %}

<div class="container mt-30 ml-30">


    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="input-group lg">

            <div class='input-group form-control mt-3 mb-3'>
                {{ form.username }}
            </div>
            <div class="input-group form-control mt-3 mb-3">
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Login</button>

            <input type="hidden" name="next" value="{{ next }}">
        </div>
        {% if not form.is_validated %}
        <div class="alert alert-warning" role="alert">
            Login details incorrect.Try Again.
        </div>
        {% endif %}
    </form>

</div>
</body>
</html>