<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="WcfService.Service1">
        <!-- You can use your own local ip address instead of localhost, by this way, 
                     the app is going to work in a Local Area Network-->
        <endpoint address="http://localhost:12345/WcfServer"
                  binding="wsHttpBinding"
                  contract="WcfService.IService1"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>