<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <!-- You can use your own local ip address instead of localhost, by this way, 
                  the app is going to work in a Local Area Network-->            
            <endpoint name="ServiceConfig"
                      contract="WcfChat.IChatService"
                      binding="wsHttpBinding"
                      address="http://localhost:12345/WcfServer"/>
        </client>

    </system.serviceModel>
</configuration>