@CHARSET "utf-8";
/* padding-top padding-right padding-bottom padding-left */

.account_event_table {
	border: none;
	width: 100%;
}

.trans_container {
	background-color: #ffffff;
    box-sizing: border-box;
    color: #000000;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 25px;
    overflow: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
	.trans_filter_wrapper {
		display: inline-block;
	}
		.trans_filter {
			display: inline-block;
			height: 25px;
			min-width: 180px;
		}
			.trans_filter_label {
				display: inline-block;
				font-size: 15px;
				min-width: 60px;
			}
	.trans_dates_wrapper {
		display: inline-block;
	}
		.trans_dates {
			display: inline-block;
		}
		.trans_dates_right {
			display: inline-block;
			padding-left: 5px;
		}
			.trans_dates_label {
				display: inline-block;
				font-size: 15px;
				min-width: 40px;
			}
				.trans_dates_label_right {
					display: inline-block;
					min-width: 0px;
				}
			.trans_dates_container {
				-moz-border-bottom-colors: none;
				-moz-border-left-colors: none;
				-moz-border-right-colors: none;
				-moz-border-top-colors: none;
				border-color: #949494 #a6a6a6 #a6a6a6;
				border-image: none;
				border-radius: 0.3rem;
				border-style: solid;
				border-width: 0.1rem;
				box-shadow: 0 0.1rem 0 rgba(255, 255, 255, 0.5), 0 0.1rem 0 rgba(0, 0, 0, 0.07) inset;
				display: inline-block;
				outline: 0 none;
			}
				.trans_dates_container input {
					background-color: transparent;
					border: 0 none;
					box-shadow: none;
					box-sizing: border-box;
					float: none;
					font-size: 100%;
					margin: 0.2rem 0 0;
					width: 100px;
				}
	.trans_buttons_wrapper {
		display: inline-block;
	}
		.trans_buttons {
			display: inline-block;
		}
			.trans_buttons button {
				background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f7f8fa, #e7e9ec) repeat scroll 0 0;
				border-color: #adb1b8 #a2a6ac #8d9096;
				border-radius: 0.2rem;
				border-style: solid;
				border-width: 0.1rem;
				box-shadow: 0 0.1rem 0 rgba(255, 255, 255, 0.6) inset;
				color: #111111;
				cursor: pointer;
				font-family: Arial,sans-serif;
				font-size: 1.0rem;
				line-height: 1.35;
				margin: 10px 5px;
				min-width: 90px;
				outline: 0 none;
				padding: 2px;
				text-align: center;
				text-decoration: none;
				text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
				white-space: normal;
			}
			.trans_buttons button:hover {
				border-color: #0896ff;
			}
			.trans_buttons button:active {
				background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #0896ff, #0896ff) repeat scroll 0 0;
				color: #ffffff;
			}
	
.trans_header {
	box-sizing: border-box;
	color: #ffffff;
	line-height: 30px;
	overflow: auto;
}
	.trans_header_border {
	}
.trans_data {	
}
	.trans_data_header {
		line-height: 25px;
	}
	.trans_data_odd {
		background-color: #f3f3f3;
	}
		.trans_data_header_plusminus {
 
			padding-left: 5px;
			width: 1%;
		}
		.trans_data_header_datetime {
 
			padding-left: 5px;
			width: 12%;
		}
		.trans_data_header_type {
 
			padding-left: 5px;
			width: 6%;
		}
		.trans_data_header_status {
 
			padding-left: 5px;
			width: 8%;
		}
		.trans_data_header_description {
 
			padding-left: 5px;
			width: 36%;
		}
		.trans_data_header_eventdatetime {
 
			padding-left: 5px;
			width: 12%;
		}
		.trans_data_header_amount {
 
			padding-left: 5px;
			width: 10%;
		}
		.trans_data_header_source {
 
			padding-left: 5px;
			width: 6%;
		}
		.trans_data_header_play {
			/*border: none !important;*/
			padding-left: 5px;
			width: 6%;
		}
	.trans_data_acct {
		padding: 20px;
	}
		.trans_data_acct_header {
  
			color: #ffffff;
			font-size: 15px;
			line-height: 22px;
			width: 100%;
		}
			.trans_data_acct_header_border {
				 border-right: 1px solid #ffffff;
			}
		.trans_data_acct_event_completed {
			/*background-color: #00aa00;*/
			    background: #e6f7e3;
    color: #04b71e!important;
    border-right: 24px solid #04b71e;
    font-family: 'open_sansbold';
		}
		.trans_data_acct_event_completed td{border-bottom: 1px solid #04b71e;}
		.trans_data_acct_event_inprogess {
			background-color: #808080;
		}		
		.trans_data_acct_event_notcompleted {
			/*background-color: #aa0000;*/
			
			background: #f6e2e2;
    color:#dd3131!important;
    border-right: 22px solid #dd3131;
    font-family: 'open_sansbold';
		}
		
		.trans_data_acct_event_notcompleted td{border-bottom: 1px solid #dd3131;}
			
			
		.trans_data_acct_event {
			border-bottom: 1px solid #ffffff;
		    box-sizing: border-box;
		    color: #ffffff;
		}
			.trans_data_acct_event_data {
				border-bottom: 1px solid #ffffff;
			}
			.trans_data_acct_event_name {
				padding: 0px 5px;
				width: 12%;
			}
			.trans_data_acct_event_type {
				padding: 0px 5px;
				width: 7%;
			}
			.trans_data_acct_event_status {
				padding: 0px 5px;
				width: 7%;
			}
			.trans_data_acct_event_line {
				padding: 0px 5px;
				width: 5%;
			}
			.trans_data_acct_event_juice {
				padding: 0px 5px;
				width: 5%;
			}
			.trans_data_acct_event_risk {
				padding: 0px 5px;
				width: 5%;
			}
			.trans_data_acct_event_towin {
				padding: 0px 5px;
				width: 5%;
			}
			.trans_data_acct_event_owner {
				padding: 0px 5px;
				width: 8%;
			}
			.trans_data_acct_event_partner {
				padding: 0px 5px;
				width: 8%;
			}
			.trans_data_acct_event_ticket {
				padding: 0px 5px;
				width: 10%;
			}
			.trans_data_acct_event_info {
				padding: 0px 5px;
				width: 30%;
			}
.trans_total {
	background-color: #ffffff;
	color: #000000;
	font-size: 18px;
	padding-left: 20px;
	padding-right: 20px;
}


	/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media only screen and (max-width:990px) {
		.bet_preview table {width: auto!important;}
	.bet_preview table tbody tr {
    float: left;
    width: 50%;
}
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		.bet_preview .trans_data_header td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding:10px 0 10px 50%!important;
            text-align: left!important;
		}
		
		.bet_preview .trans_data_header td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}

		.bet_preview .trans_data_acct_event td { 
			/* Behave  like a "row" */
 
			position: relative;
			padding-left: 50%; text-align:left;
		}

		.bet_preview .trans_data_acct_event td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}

		.trans_data_header_plusminus {
			display: none;
			padding-left: 50%;
		}
		.trans_data_header_datetime {
			padding-left: 50%;
			width: auto;
		}
		.trans_data_header_type {
			padding-left: 50%;
			width: auto;
		}
		.trans_data_header_status {
			padding-left: 50%;
			width: auto;
		}
		.trans_data_header_description {
			padding-left: 50%;
			width: auto;
		}
		.trans_data_header_eventdatetime {
			padding-left: 50%;
			width: auto;
		}
		.trans_data_header_amount {
			padding-left: 50%;
			width: auto;
		}
		.trans_data_header_source {
			padding-left: 50%;
			width: auto;
		}
		.trans_data_header_play {
			padding-left: 50%;
			width: auto;
		}
			.trans_data_acct_event_name {
				padding-left: 50%;
				width: auto;
			}
			.trans_data_acct_event_type {
				padding-left: 50%;
				width: auto;
			}
			.trans_data_acct_event_status {
				padding-left: 50%;
				width: auto;
			}
			.trans_data_acct_event_line {
				padding-left: 50%;
				width: auto;
			}
			.trans_data_acct_event_juice {
				padding-left: 50%;
				width: auto;
			}

			.trans_data_acct_event_risk {
				padding-left: 50%;
				width: auto;
			}
			.trans_data_acct_event_towin {
				padding-left: 50%;
				width: auto;
			}
			.trans_data_acct_event_owner {
				padding-left: 50%;
				width: auto;
			}
			.trans_data_acct_event_partner {
				padding-left: 50%;
				width: auto;
			}
			.trans_data_acct_event_ticket {
				padding-left: 50%;
				width: auto;
			}
			.trans_data_acct_event_info {
				padding-left: 50%;
				width: auto;
			}

		/*
		Label the data
		*/
		.trans_data_header_plusminus:before {
			content: "";
			font-size: 16px;
			font-weight: bold;
		}
		.trans_data_header_datetime:before { 
			content: "Accepted:";
			font-size: 16px;
			font-weight: bold;
		}
		.trans_data_header_type:before {
			content: "Type:";
			font-size: 16px;
			font-weight: bold;
		}
		.trans_data_header_status:before {
			content: "Status:";
			font-size: 16px;
			font-weight: bold;
		}
		.trans_data_header_description:before {
			content: "Description:";
			font-size: 16px;
			font-weight: bold;
		}
		.trans_data_header_eventdatetime:before {
			content: "Game Time:";
			font-size: 16px;
			font-weight: bold;
		}
		.trans_data_header_amount:before {
			content: "Amount:";
			font-size: 16px;
			font-weight: bold;
		}
		.trans_data_header_source:before {
			content: "Source:";
			font-size: 16px;
			font-weight: bold;
		}
		.trans_data_header_play:before {
			content: "Play:";
			font-size: 16px;
			font-weight: bold;
		}
		
			.trans_data_acct_event_name:before {
				content: "Account Name:";
				font-weight: bold;
			}
			.trans_data_acct_event_type:before {
				content: "Type:";
				font-weight: bold;
			}
			.trans_data_acct_event_status:before {
				content: "Status:";
				font-weight: bold;
			}
			.trans_data_acct_event_line:before {
				content: "Line:";
				font-weight: bold;
			}
			.trans_data_acct_event_juice:before {
				content: "Juice:";
				font-weight: bold;
			}
			.trans_data_acct_event_risk:before {
				content: "Risk:";
				font-weight: bold;
			}
			.trans_data_acct_event_towin:before {
				content: "To Win:";
				font-weight: bold;
			}
			.trans_data_acct_event_owner:before {
				content: "Owner %:";
				font-weight: bold;
			}
			.trans_data_acct_event_partner:before {
				content: "Partner %:";
				font-weight: bold;
			}
			.trans_data_acct_event_ticket:before {
				content: "Ticket #:";
				font-weight: bold;
			}
			.trans_data_acct_event_info:before {
				content: "Information:";
				font-weight: bold;
			}
			.trans_data_acct_event_inprogess {
				display: none;
			}
			.trans_data_acct {
				padding: 0px;
			}
	}
}

@media only screen and (max-width:550px) {
.bet_preview table tbody tr {width: 100%;}
}
 