<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="projects/static/css/GeffHome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Researchers</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand text-light" href="#">Researchers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-light " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active text-light">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item text-light">
                <a class="nav-link" href="{% url 'projects' %}">Projects</a>
            </li>
            <li class="nav-item dropdown text-light">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Topics
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for topic in Topics %}
                    <a class="dropdown-item" href="{% url 'topic_search' topic.pk %}">{{ topic }}</a>
                    {% endfor %}

                </div>
            </li>
            <li class="nav-item text-light">
                <a class="nav-link " href="{% url 'register' %}" tabindex="-1"> Register</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container-fluid card-columns flex-wrap">

        {% for researcher in Researchers %}
        <div class="card bg-light mb-3 mt-3" style="width: 18rem;">
            <h5 class="card-title text-light text-center">{{ researcher }}</h5>
            <img src="{{ researcher.passport.url }} " class="card-img-top" alt="..."
                 height="140px">
            <div class="card-body">
                <a href="#" class="card-link text-center">{{ researcher.description }}</a>
                <p class="card-text text-light ">{{ researcher.qualifications }}</p>

            </div>
            <a href="#" class="btn btn-danger btn-sm">Projects</a>
        </div>
        {% endfor %}


</div>
</body>
</html>