<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="projects/GeffHome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Submit Work</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand text-light" href="#">Submit Work</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-light " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active text-light">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item text-light">
                <a class="nav-link" href="{% url 'projects' %}">Projects</a>
            </li>
            <li class="nav-item dropdown text-light">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Topics
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for topic in Topics %}
                    <a class="dropdown-item" href="{% url 'topic_search' topic.pk %}">{{ topic }}</a>
                    {% endfor %}

                </div>
            </li>
            <li class="nav-item text-light">
                <a class="nav-link " href="{% url 'register' %}" tabindex="-1"> Register</a>
            </li>
            <li class="nav-item text-light">
                <a class="nav-link " href="{% url 'topics' %}" tabindex="-1"> Topics</a>
            </li>
        </ul>

    </div>
</nav>

<form class="input-group mt-3" method="POST" action="{% url 'index' %}">
    {% csrf_token %}
    <div class="container">
        <div class="input-group mb-3">
            {{ project_form.project_title }}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Project Topic</label>
            </div>

            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                {% for topic in topics %}
                <option value="{{ topic.id }}">{{ topic }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3">
            {{ project_form.project_description }}
        </div>
        <div class="custom-file mb-3">
            <label class="custom-file-label" >Upload Preview File</label>
            {{ project_form.project_preview_file }}

        </div>
        <div class="custom-file mb-3">
            <label class="custom-file-label" >Upload Main File</label>
            {{ project_form.project_main_file }}

        </div>
        <div class="input-group mb-3">
            <button type="submit" class="btn btn-dark btn-lg btn-block">Upload Project</button>
        </div>

    </div>
</form>

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>